body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bbff99;
background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
  text-align: center;
}

.app-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 76px;
  color: fuchsia;
  font-family: 'Gochi Hand';
}


button {
  border-radius: 12px;
  background-color: lightpink;
	padding: 15px 32px;
	width: 150px;
	font-size: 20px;
	color: black;
	margin: 15px;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}